@import 'normalize'
@import 'helper'
@import 'bootstrap/index'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
body
  width:100%
  height:100%

html
button
input
select
textarea
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 12pt
  line-height: 1.5

header
  background: $grey
  color:$black
  padding: 1em

  nav
    float:right
    user-select:none

  .nav-item
    float:left
    margin-left:.5em

    a.active
      text-decoration:underline

.content
  padding: 1em

.chessboard
  display: table
  width: 100%
  height: 100%
  margin: 0 auto
  border: 4px solid #c4ab2d

.square_wrapper
  float: left
  position: relative
  width: 12.5%
  padding-bottom: 12.5%
  overflow: hidden

.boardsquare
  position: absolute
  text-align: center
  width: 100%
  height: 100%
  padding: 0

.square_align
  display: table
  height: 100%
  width: 100%

.inner_square
  display: table-cell
  vertical-align: middle
  height: 100%
  width: 100%
